

/* Aplica box-sizing: border-box para todos os elementos e pseudoelementos */
*, *::before, *::after {
  box-sizing: border-box;  
  margin: 0;              
  padding: 0;             
}

/* Define configurações básicas de layout e tipografia para html e body */
html, body {
  height: 100%;                                     
  width: 100%;                                      
  font-family: 'IM Fell English SC', serif;          
  line-height: 1.5;                                  
  -webkit-font-smoothing: antialiased;            
  -moz-osx-font-smoothing: grayscale;             
}

/* Define aparência base do corpo */
body {
  background-color: #000;   
  color: #fff;             
  font-size: 16px;          
}

/* Estiliza elementos de mídia para serem responsivos */
img, picture, video, canvas, svg {
  display: block;       
  max-width: 100%;       
  height: auto;          
}

/* Remove estilos padrão de formulários e aplica herança de fonte */
button, input, select, textarea {
  font: inherit;       
  background: none;    
  border: none;         
  outline: none;        
  color: inherit;       
}

/* Estilo específico para botões */
button {
  cursor: pointer;     
}

/* Remove sublinhado e cor padrão de links */
a {
  text-decoration: none; 
  color: inherit;         
}

/* Remove marcadores de listas */
ul, ol {
  list-style: none;
}

/* Remove estilos padrões de títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;   
  font-size: inherit;    
}

/* Remove espaçamentos padrão de tabelas */
table {
  border-collapse: collapse;  
  border-spacing: 0;          
}

/* Remove estilo padrão de destaque */
:focus {
  outline: none;
}

/* Estilo neutro para <strong> e <em> */
strong, em {
  font-style: normal;
  font-weight: normal;
}

