/* responsive.css */

/* Tablets (entre 768px e 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  #intro-screen.fade-transition h1 {
    font-size: 3.5rem; /* menor que desktop */
    margin-top: 5rem;
  }

  #intro-screen.fade-transition h2 {
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  #main-content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  #main-content h2 {
    font-size: 1.3rem;
    margin-top: -1rem;
  }

  .colossus-thumbnail {
    width: 260px;
  }

  .main-menu button {
    margin: 2rem 0.3rem 0;
    padding: 0.6rem 1rem 0.4rem;
    font-size: 0.9rem;
  }
}

/* Celulares (até 767px) */
@media (max-width: 767px) {
  #intro-screen.fade-transition h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  #intro-screen.fade-transition h2 {
    font-size: 1.2rem;
    margin-top: -0.5rem;
  }

  #intro-screen.fade-transition .intro-credits {
    margin-top: 8rem;
    font-size: 0.8rem;
  }

  #main-content {
    padding: 1rem;
  }

  #main-content h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  #main-content h2 {
    font-size: 1rem;
    margin-top: -0.5rem;
  }

  .colossus-gallery {
    max-width: 95vw;
    margin: 2rem auto 1rem;
  }

  .colossus-thumbnail {
    width: 200px;
  }

  .main-menu button {
    margin: 1.5rem 0.2rem 0;
    padding: 0.5rem 0.8rem 0.3rem;
    font-size: 0.8rem;
  }
}